@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root{
    --header-height: 3rem;
    --nav-width: 68px;
    --white-color: #f7f6fb;
    --green-color: #86c232;
    --dark-green-color:#61892f;
    --black-color: #222629;
    --dark-grey-color: #474b4f;
    --light-grey-color: #6b6e70;
    --yellow-color: #f1c40f;
    --z-index: 100;
    --section-heights: 100vh;
    --width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    position: relative;
    max-width: var(--width);
    padding: 0 1rem;
    background-color: var(--white-color);
    color: var(--black-color);
    transition: background-color 0.2s linear;
    font-family: 'Lato', sans-serif;
    transition: 0.3s;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.header{
    position: fixed;
    width: var(--width);
    height: var(--header-height);
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: var(--z-index);
    transition: 0.5s;
}

/*day-night toggle */
body.dark{
    background-color: var(--black-color);
    color: var(--white-color);
}

.checkbox {
	opacity: 0;
	position: absolute;
}
.label{
    background-color: var(--white-color);
    border: 2px solid var(--dark-green-color);
    border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2px;
	position: relative;
	height: 13px;
	width: 28px;
	transform: scale(1.5);
}
.label .ball {
	background-color: var(--dark-green-color);
	border-radius: 50%;
	position: absolute;
    left: -2px;
	height: 17px;
	width: 17px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
	transform: translateX(11px);
}

.fa-moon{
	color: var(--yellow-color);
    font-size: 0.6rem;
    z-index: var(--z-index);
}
.fa-moon.hidden{
    visibility: hidden;
}

/* navbar */
.hamburger{
    font-size: 1.5rem;
    cursor: pointer;
}
.left-navbar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100%;
    background-color: var(--green-color);
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-index);
}
.nav{
    height: var(--width);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.nav-logo, .nav-link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
    margin-bottom: 2rem;
}
.nav-logo img{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: var(--white-color);
}
.nav-logo-name{
    color: var(--white-color);
    font-weight: 700;
}
.nav-link{
    position: relative;
    color: var(--black-color);
    margin-bottom: 1.5rem;
    transition: 0.3s;
    font-weight: 600;
}
.nav-link:hover{
    color: var(--white-color);
}

.nav-icon{
    font-size: 1.25rem;
}

.show{
    left: 0;
}
.body-padding{
    padding-left: calc(var(--nav-width) + 1rem);
}
.header-padding{
    padding-left: calc(var(--nav-width) + 1rem);
}
.active{
    color: var(--white-color);
}
/* active left line */
.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 3px;
    height: 32px;
    background-color: var(--white-color);
}

/* main section */
main{
    margin-top: var(--header-height);
}

.section-a{
    height: calc(var(--section-heights) - 10vh);
    width: var(--width);
    display: flex;
    align-items: center;
}
.section-a #green-text{
    color: var(--green-color);
    font-size: 1.25em;
    margin-bottom: 1rem;
}
.section-a h1{
    font-size: var(--header-height);
    font-weight: 900;
}
.section-a #grey-text{
    opacity: 0.8;
}
#a-block{
    margin-top: 1rem;
    font-size: 1.25em;
}
.contact-btn, .submit-btn{
    background-color: var(--green-color);
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    text-transform: capitalize;
}
.contact-btn:hover, .submit-btn:hover{
    background-color: var(--dark-green-color);
    transition: 0.3s;
}

/* section -b */
.section-b{
    height: calc(var(--sections-height) - 60vh);
    width: var(--width);
} 
#about-text{
    text-align: justify;
    padding-right: calc(var(--nav-width) - 1rem);
}

/* section-c */
.section-c{
    height: calc(var(--section-heights) - 30vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
}
#skills-div h2{
    margin-top: 10px;
}

/* section-d */
.section-d{
    max-width: var(--width);
    margin-top: 1.5rem;
}
.section-d h2{
    text-align: left;
}
.projects{
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.img-gallery img{
    width: 350px;
    height: auto;
    padding: 0 1rem 0 1rem;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.25em;
    margin-top: 10px;
}
.icons a{
    cursor: pointer;
    color: var(--grey-color);
} 
.icons a:hover{
    color: var(--green-color);
    transition: 0.5s;
}

/* form-section */
.form-section{
    max-width: var(--width);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    margin: 3rem;
}

.form-section h1, .form-section p{
    text-align: center;
}

.form-section form{
    margin-top: 1.2rem;
}

.form-section input, .form-section textarea{
    padding: 8px;
    width: 80vw;
    border: none;
    border-bottom: 2px solid var(--dark-green-color);
    margin: 0.7rem 0 0.7rem 0;
}

.form-section input:focus, .form-section textarea:focus{
    outline: none;
}

/* footer */
.footer{
    max-width: var(--width);
    background-color: var(--black-color);
    margin-top: 50px;
    padding: 20px;
}

#social-media{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#social-media a{
    color:var(--white-color);
    padding-left: 20px;
    font-size: 1.25em;
}

#social-media a:hover{
    color: var(--green-color);
    text-decoration: none;
    transition: 0.5s;
}

.footer p{
    color: var(--white-color);
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* media queries */
@media screen and (min-width: 768px){
    body{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }
    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .left-navbar{
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    /* show nav-name in desktop */
    .show{
        width: calc(var(--nav-width) + 156px);
    }
    .body-padding{
        padding-left: calc(var(--nav-width) + 188px);
    }
    .fa-times{
        padding-left: calc(var(--nav-width) + 88px);
        transition: 0.5s;
    }
    .section-b{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
    }
    #about-title{
        display: flex;
        justify-content: center;
    }
    #about-text{
        text-align: justify;
        padding-right: var(--nav-width);
    }
    .section-c{
        height: calc(var(--section-heights) - 50vh);
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        margin-top: 0;
    }
    #skills-title{
        display: flex;
        justify-content: center;
    }
    #skills-div{
        display: flex;
        gap: var(--nav-width);
        padding-right: var(--nav-width);
    }
    #skills-div h2{
        margin: 0 0 10px 0;
    }
    .section-d{
        margin-top: 0;
    }
    .section-d h2{
        text-align: center;
    }
}

